body{
    background-color: rgb(75, 72, 72);
}

.container{
    text-align: center;
    color: rgb(209, 224, 224);
    background-color: rgb(71, 69, 66);
    padding: 1rem 0.5rem;
}

.space{
    max-width: 10;
    display: block;
    height: 10;
    padding: 2rem 2.5rem;
    margin: 1.5 2rem;
}